<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Cafe</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h2>
    List of Cafe!
</h2>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Open</th>
        <th>Close</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cafe : ${cafes}">
<!--        th:style="${iter.odd}? 'font-weight: bold;'">-->
<!--        <td th:text="${iter.index}+1"></td>-->
        <td th:text="${cafe.id}"></td>
<!--        <a href="@(/cafe/{id}(id=${cafe.getId()}))" td th:text="${cafe.id}"></a>-->
        <td th:text="${cafe.name}"></td>
        <td th:text="${cafe.city}"></td>
        <td th:text="${cafe.address}"></td>
        <td th:text="${cafe.email}"></td>
        <td th:text="${cafe.phone}"></td>
        <td th:text="${cafe.open}"></td>
        <td th:text="${cafe.close}"></td>
        <td>
            <form th:action="@{/cafes/edit}" th:method="post">
                <div>
                    <input type="hidden" th:value="${cafe.id}" name="id">
                </div>
                <div>
                    <button type="submit">Edit</button>
                </div>
            </form>
        </td>
        <td>
            <form th:action="@{/cafes/delete}" th:method="post">
                <div>
                    <input type="hidden" th:value="${cafe.id}" name="id">
                </div>
                <div>
                    <button type="submit">Delete</button>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br/>
<a href="/cafes/edit">new Cafe</a>
<br/>
<a href="/">Back</a>
</body>
</html>