<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pizza</title>
</head>
<body style="margin: 20pt;">

<div style="font-size: 30pt; margin-left: 180pt; margin-bottom: 20pt" th:text="${'New Pizza'}"></div>
<!--<div style="font-size: 30pt; margin-left: 180pt; margin-bottom: 20pt"-->
<!--     th:text="New Pizza" th:if="${pizza.name.equals('New Pizza')}"></div>-->
<!--    <p th:text="${pizza.name}"></p>-->
<!--    <p th:text="${pizza.name.equals('New Pizza')}" th:if="${pizza.name.equals('New Pizza')}"></p>-->

<container class="hero" style="display: flex; height: 308px">
  <div>
<!--    <img width="308px" height="308px" th:if="${pizza.name.equals('New Pizza')}" th:src="@{/img/marherita.jpeg}"/>-->
    <img width="308px" height="308px" th:src="@{/img/marherita.jpeg}"/>
  </div>

  <div style="margin-left: 20pt; font-size: 18pt; margin-bottom: 10pt; text-align: right">
    <form th:method="POST" th:action="@{/pizzas/create}"
          th:object="${pizza}" class="form" style="margin-top: -42pt">
      <input type="hidden" th:field="*{id}" id="id"/><br/>
      <input type="hidden" th:field="*{image}" id="image"/><br/>
      <!--    <input th:field="*{image}" id="image"/><br/>-->
      <label for="name">Name</label>
      <input style="margin-top: 10pt; font-size: 16pt" th:field="*{name}" id="name"/><br/>
      <label for="size">Size</label>
      <input style="margin-top: 10pt; font-size: 16pt" th:field="*{size}" id="size"/><br/>
      <label for="key_ingredients">Ingredients</label>
      <input style="margin-top: 10pt; font-size: 16pt" th:field="*{key_ingredients}" id="key_ingredients"/><br/>
      <label for="price">Price</label>
      <input style="margin-top: 10pt; font-size: 16pt" th:field="*{price}" id="price"/><br/>
      <label for="cafe">Cafe</label>
      <input style="margin-top: 10pt; font-size: 16pt" th:field="*{cafe}" id="cafe"/><br/>
      <div style="display: flex; margin-top: 20pt; margin-left: 20pt">
        <td>
          <br/>
          <div>
            <button type="submit" style="padding: 10pt; font-size: 20pt;
                     border-radius: 10pt; width: 100pt">Submit</button>
          </div>
        </td>
      </div>
    </form>
    <form th:action="@{/pizzas}" th:method="GET">
      <div>
        <button type="submit" style="margin-left: 20pt; padding: 10pt;
                     width: 100pt; border-radius: 10pt; font-size: 20pt" >Back</button>
      </div>
    </form>
  </div>
</container>
</body>
</html>