<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>List of Pizza</title>

    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="header">
    <h2>
        List of Pizza!
    </h2>
</div>
<table>
    <thead>
    <tr>
        <th>Pic</th>
        <th>Id</th>
        <th>Name</th>
        <th>Size</th>
        <th>Ingredients</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizzas : ${pizzas}">
<!--        <td th:src="${static/img/marherita.jpeg}"></td>-->
        <td>
            <img width="77ptx" height="77ptx" th:src="${pizzas.image}"/>
        </td>
        <td th:text="${pizzas.id}"></td>
        <td th:text="${pizzas.name}"></td>
        <td th:text="${pizzas.size}"></td>
        <td th:text="${pizzas.key_ingredients}"></td>
        <td th:text="${pizzas.price}"></td>

        <td>
            <form th:action="@{/pizzas/edit}" th:method="GET">
                <div>
                    <input type="hidden" th:value="${pizzas.id}" name="id">
                </div>
                <div>
                    <button type="submit">Edit</button>
                </div>
            </form>
        </td>
        <td>
            <form th:action="@{/pizzas/delete}" th:method="POST">
                <div>
                    <input type="hidden" th:value="${pizzas.id}" name="id">
                </div>
                <div>
                    <button type="submit">Delete</button>
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/pizzas/new">new Pizza</a>
<br/>
<br>
<a href="/">Back</a>
</body>
</html>