<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
</head>
<body style="margin: 20pt;">

<div style="font-size: 30pt; margin-left: 180pt; margin-bottom: 20pt" th:text="${pizza.name}"></div>

<container class="hero" style="display: flex; height: 308px">
<div>
<!--    <img width="308px" height="308px" th:src="@{${pizza.get().image}} "/>-->
    <img width="308px" height="308px" th:src="${pizza.image}"/>
</div>

<div style="margin-left: 20pt; font-size: 18pt; margin-bottom: 10pt; text-align: right">
<form th:method="POST" th:action="@{/pizzas/create}"
                th:object="${pizza}" class="form" style="margin-top: -42pt">
    <input type="hidden" th:field="*{id}" id="id"/><br/>
    <input type="hidden" th:field="*{image}" id="image"/><br/>
<!--    <input th:field="*{image}" id="image"/><br/>-->
    <label for="name">Name</label>
    <input style="margin-top: 10pt; font-size: 16pt" th:field="*{name}" id="name"/><br/>
<!--    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
    <label for="size">Size</label>
    <input style="margin-top: 10pt; font-size: 16pt" th:field="*{size}" id="size"/><br/>
<!--    <div class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></div>-->
    <label for="key_ingredients">Ingredients</label>
    <input style="margin-top: 10pt; font-size: 16pt" th:field="*{key_ingredients}" id="key_ingredients"/><br/>
<!--    <div class="error" th:if="${#fields.hasErrors('key_ingredients')}" th:errors="*{key_ingredients}"></div>-->
    <label for="price">Price</label>
    <input style="margin-top: 10pt; font-size: 16pt" th:field="*{price}" id="price"/><br/>
<!--    <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>-->
    <label for="cafe">Cafe</label>
    <input style="margin-top: 10pt; font-size: 16pt" th:field="*{cafe}" id="cafe"/><br/>
    <div style="display: flex; margin-top: 20pt; margin-left: 20pt">
        <td>
            <br/>
                <div>
                    <button type="submit" style="padding: 10pt; font-size: 20pt;
                     border-radius: 10pt; width: 100pt">Submit</button>
                </div>
        </td>
        <td>
            <form th:action="@{/pizzas}">
                <div>
                    <button type="submit" style="margin-left: 20pt; padding: 10pt;
                     width: 100pt; border-radius: 10pt; font-size: 20pt" >Back</button>
                </div>
            </form>
        </td>
    </div>
</form>
</div>
</container>
</body>
</html>