<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cafe</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="wrapper">
<header class="header">
    <div class="container header-container">
        <a href="" class="header-logo link">Cafe<span class="logo-accent">Pizza</span></a>
        <nav class="header-nav">
            <ul class="header-list list">
                <li class="header-item"><a href="/" class="header-link link current">Home</a></li>
                <li class="header-item"><a th:href="@{/cafes}" class="header-link link">Cafe</a></li>
                <li class="header-item"><a th:href="@{/pizzas}" class="header-link link">Pizza</a></li>
            </ul>
        </nav>
    </div>

    <div class="login">
        <div class="header-item"><a href="Login" class="login">Login</a></div>
    </div>
</header>
<main class="main cafes_hero">
<section>
    <container>
<form th:method="POST" th:action="@{/cafes/menu}" th:object="${cafe}" class="form">
    <input type="hidden" th:field="*{id}" id="id"/><br/>
     <div style="text-align: center">

        <span class="cafe_menu">Name:</span>
        <span class="cafe_menu_field" th:text="*{name}"></span><br/>

        <span>City:</span>
        <span class="cafe_menu_field" th:text="*{city}"></span><br/>


        <span>Address:</span>
        <span th:text="*{address}"></span><br/>

        <span>E-mail:</span>
        <span th:text="*{email}"></span><br/>

        <span>Phone:</span>
        <span th:text="*{phone}"></span><br/>

        <span>Open:</span>
        <span th:text="*{open}"></span><br/>

        <span>Close:</span>
        <span th:text="*{close}"></span><br/>

     </div>
</form>
</container>

<table>
    <thead>
    <tr>
        <th>Pic</th>
        <th>№</th>
<!--        <th>Id</th>-->
        <th>Name</th>
        <th>Size</th>
        <th>Ingredients</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizzas, iter : ${pizzas}">
        <td>
            <img width="154ptx" height="154ptx" th:src="${pizzas.image}"/>
        </td>
        <td th:text="${iter.index}+1"></td>
<!--        <td th:text="${pizzas.id}"></td>-->
        <td th:text="${pizzas.name}"></td>
        <td th:text="${pizzas.size}"></td>
        <td th:text="${pizzas.key_ingredients}"></td>
        <td th:text="${pizzas.price}"></td>
    </tr>
    </tbody>
</table>
</div>
</section>
</main>
    <footer class="footer footer_pizzas">
        <div class="footer-container">
            <a href="" class="footer-logo link">Cafe<span class="footer-logo-accent">Pizza</span></a>
        </div>
    </footer>
</div>
</body>
</html>