<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cafe</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<h2>Cafe</h2>

<form th:method="POST" th:action="@{/cafes/menu}" th:object="${cafe}" class="form">
    <input type="hidden" th:field="*{id}" id="id"/><br/>
     <div>
        <span class="cafe_menu">Name:</span>
        <span class="cafe_menu_field" th:text="*{name}"></span>
     </div>

    <td class="cafe_menu">
        <span>City:</span>
        <span class="cafe_menu_field" th:text="*{city}"></span><br/>
    </td>
    </tr>
    <td class="cafe_menu">
        <span>Address:</span>
        <span th:text="*{address}"></span><br/>
    </td>
    <div class="cafe_menu">
        <span>E-mail:</span>
        <span th:text="*{email}"></span><br/>
    </div>
    <div class="cafe_menu">
        <span>Phone:</span>
        <span th:text="*{phone}"></span><br/>
    </div>
    <div class="cafe_menu">
        <span>Open:</span>
        <span th:text="*{open}"></span><br/>
    </div>
    <div class="cafe_menu">
        <span>Close:</span>
        <span th:text="*{close}"></span><br/>
    </div>
    </tbody>
</form>

<div class="header">
    <h2>
        Menu
    </h2>
</div>

<table>
    <thead>
    <tr>
        <th>Pic</th>
        <th>№</th>
        <th>Id</th>
        <th>Name</th>
        <th>Size</th>
        <th>Ingredients</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizzas, iter : ${pizzas}">
        <td>
            <img width="154ptx" height="154ptx" th:src="${pizzas.image}"/>
        </td>
        <td th:text="${iter.index}+1"></td>
        <td th:text="${pizzas.id}"></td>
        <td th:text="${pizzas.name}"></td>
        <td th:text="${pizzas.size}"></td>
        <td th:text="${pizzas.key_ingredients}"></td>
        <td th:text="${pizzas.price}"></td>
    </tr>
    </tbody>
</table>
<br/>
<a href="/cafes">Back to Cafes</a>
<br><br/>
<a href="/pizzas">Back to Pizzas</a>
</body>
</html>